node_modules


//https://dashboard.clerk.com/apps/app_2sl32JY7Hm0BEU3D5whcHhLy92F/instances/ins_2sl32MVLh83xi22J4i7cKwfVQpu/webhooks

//https://github.com/GreatStackDev/notes/blob/main/Vercel_JSON_Config_For_MERN.md